

header {
height: 75px;
width: 100%;
font-family: 'Roboto', sans-serif;
position: fixed;
background:rgba(255,255,255,0.5);
}
* {
   margin: 0px;
   padding: 0px;
   
   font-family: 'Roboto', sans-serif;
}

html { 
  font-family: 'Roboto', sans-serif;
}

body	{ background:url(https://dl-web.dropbox.com/get/webresources/gavindback1.png?_subject_uid=145907434&w=AADtFHVkfUy0Yc4dv5kgd5rgv0yrRrM8RsXQAR0q8kC3Jw) top right no-repeat; background-attachment:fixed; }

