

header {
height: 75px;
width: 100%;
font-family: 'Roboto', sans-serif;
position: fixed;
background:rgba(255,255,255,0.5);
}
* {
   margin: 0px;
   padding: 0px;
   font-family: 'Roboto', sans-serif;
}

html { 
  font-family: 'Roboto', sans-serif;
  background:url(http://i.imgur.com/OmENvfl.jpg) center no-repeat; background-attachment:fixed; 
}

body {
height: 900px;
}

div#background2 {
background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQMAAADCCAMAAAB6zFdcAAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BMQEAAADCoPVPbQwfoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIC3AcUIAAFkqh/QAAAAAElFTkSuQmCC");
height:800px;
width:100%;
postition: absolute;
}

#circle {
	width: 500px;
	height: 500px;
	background:rgba(255,255,255,0.7);
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#container
{
    height:400px;
    width:400px;
    position:relative;
}

#image
{    
    position:absolute;
    left:0;
    top:0;
}
#text
{
    z-index:100;
    position:absolute;    
    color:white;
    font-size:24px;
    font-weight:bold;
    left:150px;
    top:350px;
}


